@model PizzaWebshopCore2.Models.Manage.IndexViewModel

<div class="container">
    <div class="row">
        <h2>Manage</h2>   
        <div style="opacity: 0.9;" class="col s12 m7 l8 blue-grey darken-1">
            
            <table>
                <thead>
                <tr>
                    <th>Dish</th>
                    <th>Ingredients</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                @foreach (var dish in Model.Dishes)
                {
                    <tr>
                        <td>@dish.Name</td>
                        <td>
                            @foreach (var ingredient in dish.DishIngredients)
                            {
                                <span>@ingredient.Ingredient.Name</span>
                            }
                        </td>
                        <td>@dish.Price</td>
                        <td>@dish.Category.Name</td>
                        <td>
                            <a class="waves-effect waves-light btn" asp-action="Edit" asp-controller="Manage" asp-route-id="@dish.Id">Edit</a>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-controller="Manage">
                                <input name="id" hidden value="@dish.Id"/>
                                <button class="waves-effect waves-light btn red darken-1" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>     
                }
               

                </tbody>
            </table>
        </div>
        
        <div style="opacity: 0.9;" class="col s12 m5 l4 blue-grey">
            
                <form asp-action="CreateDish" asp-controller="Manage" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input asp-for="@Model.CreateDishModel.Name" id="name" type="text" class="validate">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input asp-for="@Model.CreateDishModel.Price" id="price" type="number" class="validate">
                            <label for="price">Price</label>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-left: 10px;">
                            
                            @for (int i = 0; i < Model.CreateDishModel.CheckBoxIngredient.Count; i++)
                            {
                                @Html.HiddenFor(x => Model.CreateDishModel.CheckBoxIngredient[i].Id, null)
                                @Html.HiddenFor(y => Model.CreateDishModel.CheckBoxIngredient[i].Name, null)
                                <p style="display: inline;">
                                    <input asp-for="@Model.CreateDishModel.CheckBoxIngredient[i].IsChecked" class="filled-in" type="checkbox" id="@Model.CreateDishModel.CheckBoxIngredient[i].Id-ingredient"/>
                                    <label for="@Model.CreateDishModel.CheckBoxIngredient[i].Id-ingredient">@Model.CreateDishModel.CheckBoxIngredient[i].Name</label>
                                </p>
                            }
                            

                        </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="@Model.CreateDishModel.CategoryId" asp-items="@Model.CreateDishModel.Categories"></select>
                        <label>Category</label>
                    </div>
                    </div>
                    <button style="margin-bottom: 10px;" type="submit" class="waves-effect waves-light btn">Create</button>
                </form>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

